body {
    background: rgb(122, 185, 66);
    overflow: initial;
    line-height: 1.5em;
    font-size: 18px;
    color: rbg(111, 109, 111);
    font-family: 'Open Sans', sans-serif; 
}
.main {
    background-color: rgb(122, 185, 66);
    overflow: initial;
}
.container {
    margin-top: 79px;
    border-color: rgb(158, 167, 178);
    border-width: 5px;
    border-style: solid;    
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: relative;
    top: 0px;
    width: 950px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 2.75em;
}

.col-md-12 {
    padding-left: 90px;
    padding-right: 90px;
}

.row {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
    border-color: rgb(158, 167, 178);
    outline: none;
    background-color: rgb(255, 255, 255, 0);
    /*background-color: rbg(89, 197, 21); */
    opacity: 1;
    position: relative;
    top: 0px;
}
.logo-img {
    margin-top: .55em;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    display: block;
    aria-disabled="false";
    text-align: center;
}
.headline {
    font-size: 48px;
    margin: .6em auto 0;
    line-height: 1.25em;
    font-weight: 700;
    text-align: center;
    color: rgb(90, 101, 115);
}
.subheadline {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    line-height: 1.5em;
    color: #454545;
}
hr {
    width: 100%;
    min-height: 1px;
    margin: 0px;
    padding: 10px 0px;
}
h3 {
    
}
.how {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1.25em;
    margin-left: .3em;
}
ul {
    padding: 0px;
    list-style: none;
    line-height: 1.5em;
    margin-left: .040em; 
}
li {
    padding: 0px 10px 10px 5px;
    margin-top: 0;
    margin-bottom: 0px;
    color: #2F2F2F;
    
}

#item-2 {
    margin-top: -.6em;
}
.directions {
    margin-top: -10px;
    padding-left: 25px;
    padding-right: 15px;
}

#item-2 {
    margin-bottom: 0px;
    
}
p     {
    font-size: 18px;
    line-height: 1.5em;
    color: #282828;
    text-align: center;
    margin-top: 20px;
}

.red {
    color: rgb(228, 10, 10);
}

.footer {
    text-align: center;
    color: rgba(64, 64, 64, 0.579804);
    font-size: 16px;
    margin: .65em;
    padding-top: 40px;
    padding-bottom: 40px;
    outline: none;
    font-weight: 100;
    line-height: 1.40em;
}
/*
********** Countdown Clock **********
*/

.timer {
    margin-top: .6em;
    margin-bottom: 85px;
    text-align: center;
    background: #fff;
    font-weight: 100;
    color: #C41229;
    font-size: 24px;
}
#clockdiv {
    color: #C41229;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 27px;
}
#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
}
#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.smalltext {
    padding-top: 5px;
    font-size: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    padding: 0px 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
}
/*
********** Media Queries **********
*/



@media (min-width: 1200px) and (max-width: 1900) {
    .container {
        width: 950px;
        height: 705px;
        overflow: hidden;
    
    }
    
    .col-md-12 {
        width: 705px;
        height: 675px;
    }

    
    #item-2 {
        margin-bottom: 0px;
    }  
    .timer {
        margin-bottom: 2em;
        
    }
    
}



@media (min-width: 770px) and (max-width: 977px) {
    .container {
        width: 100%;
    }
}


@media (min-width: 350px) and (max-width: 769px) {
    .container {
        width: 100%;
    }
    .headline {
        font-size: 32px;
        margin-bottom: 0px;
        margin-top -10px;
    }
    .subheadline {
        padding: 0px;
    }
    
    ul {
    }
    .directions {
        margin-left: -1em;
    }
    
    #item-2 {
    margin-top: -0.5em;
}
    .red {
        margin-top: 0px;
    }
    .how {
        margin-left: -1em;
    }
    .directions {
        padding-left: 40px;
        margin-right: -4em;
        margin-bottom: 10px;
    }
}

@media (min-width: 350px) and (max-width: 769px) {
    .logo-img {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .headline {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: -1em;
    }
    
    .subheadline {
        margin-top: 5px;
        margin-left: -4.5em;
        margin-right: -4em;
    }
    
    hr {
        width: 345px;
        margin-bottom: 1em;
        margin-left: -4em;
    }
    .how {
        margin-top: 10px;
        margin-left: -4em;
        margin-right: -3.60em;
        padding: -5px;
        font-size: 18px;
    }
    
    ul {
        margin-left: -4.55em;
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .directions {
        margin-top: -10px;
        margin-left: -0.70em;
    }
    
    #item-2 {
        margin-right: -2.9em;
        margin-bottom: 0px;
    }
    
    .red {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: -2em;
        margin-right: -1.6em;
    }
    
    .timer {
        margin-top: -5px;
        margin-left: -1em;
        margin-bottom: 0px;
    }
}


@media (min-width: 320px) and (max-width: 437px) {
      .container {
        margin-top: 80px;
    }
     .logo-img {
        margin-top: 0px;
        margin-bottom: 0px;
    }
     .headline {
         margin-top: 25px;
         margin-bottom: 0px;
         padding-left: 0px;
         padding-right: 5px;
         text-align: center;
    }
    .subheadline {
        padding: 0px 0px;
        margin-bottom: 15px;
    }
    .how {
        margin-top: 15px;
    }
    
    ul {
        margin-top: 0px;
        font-size: 18px;
        padding: 2px;
        
    }
    
    .directions {
        margin-top: -10px;
        margin-bottom: 5px;
        margin-left: -.80em;
        margin-right: -2.6em;
    
    }
    
    #item-2 {
        margin-bottom: 0px;
        margin-right: -4em;
    }

    .red {
        position: relative;
        margin-top: 10px;
        margin-right: -2em;
        margin-left: -2.2em;
        padding-left: 0px;
        padding-right: 0px;
        
    }
    .timer {
        margin-top: -10px;
        margin-bottom: 1.4em;
        margin-left: -1em;
        margin-right: -2em;
    }
}

